.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-icons);
    background-color: var(--accent-color);
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;

    border-radius: 1rem;
    transition: font-size 0.2s;
}

.container nav a:hover {
    font-size: 1.1rem;
}

.container nav a:active {
    font-size: 1rem;
}
