<div class="container">
    <div class="radio-group">
        <input 
            type="radio" 
            id="cpp" 
            name="language" 
            value="CPP" 
            checked
            (change)="handleLanguageClick('CPP')"
        >
        <label for="cpp" [ngClass]="{'selected': selectedTemplate === 'CPP'}">CPP</label><br>
        <input 
            type="radio" 
            id="angular" 
            name="language" 
            value="Angular"
            (change)="handleLanguageClick('ANGULAR')"
        >
        <label for="angular" [ngClass]="{'selected': selectedTemplate === 'ANGULAR'}">Angular</label><br>
    </div>
    <mat-slide-toggle
        class="slide-toggle"
        *ngIf="selectedTemplate === 'CPP' || selectedTemplate === 'ANGULAR'"
        [color]="color"
        [checked]="onlySourceFiles"
        (toggleChange)="onlySourceFiles = !onlySourceFiles"
    >
        <p>Only source files</p>
    </mat-slide-toggle>
    <div class="select-server-container" *ngIf="selectedTemplate === 'CPP'">
        <label for="select-server">Choose a server:</label>
        <mat-select 
            [(value)]="selectedServer" 
            class="select-server" 
            id="select-server"
            panelClass="select-server-panel"
        >
            <mat-option value="default">Default</mat-option>
            <mat-option [value]="serverName" *ngFor="let serverName of asyncApiSpecServers">{{serverName}}</mat-option>
        </mat-select>
    </div>
    <button (click)="handleGenerateCode()" [disabled]="loading">
        <mat-progress-spinner 
            *ngIf="loading"
            [color]="color" 
            [mode]="mode" 
            class="progress-spinner"
        ></mat-progress-spinner>
        <span>{{loading ? "Generating" : "Generate"}} code</span>
    </button>
</div>
