<div class="container">
    <div class="radio-group">
        <input 
            type="radio" 
            id="cpp" 
            name="language" 
            value="CPP" 
            checked
            (change)="selectedTemplate = 'CPP'"
        >
        <label for="cpp" [ngClass]="{'selected': selectedTemplate === 'CPP'}">CPP</label><br>
        <input 
            type="radio" 
            id="angular" 
            name="language" 
            value="Angular"
            (change)="selectedTemplate = 'ANGULAR'"
        >
        <label for="angular" [ngClass]="{'selected': selectedTemplate === 'ANGULAR'}">Angular</label><br>
    </div>
    <button (click)="handleGenerateCode()" [disabled]="loading">
        <mat-progress-spinner 
            *ngIf="loading"
            [color]="color" 
            [mode]="mode" 
            class="progress-spinner"
        ></mat-progress-spinner>
        <span>{{loading ? "Generating" : "Generate"}} code</span>
    </button>
</div>
