.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.container h1 {
    font-size: 2rem;
    color: var(--dark-primary-color);
}

.container button {
    width: fit-content;
    align-self: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    transition: font-size 0.2s;
    background-color: var(--accent-color);
    color: var(--text-icons);
}

.container button:hover {
    font-size: 1.1rem;
}

.container button:active {
    font-size: 1rem;
}

.main-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.main-content .file-container {
    width: 30%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-text);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--divider-color);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-text);
}

::-webkit-scrollbar-thumb:hover {
    background: color-mix(in srgb, var(--secondary-text) 70%, black);
}

.main-content .file-container .fileName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    width: 100%;
    color: var(--text-icons);
    text-align: start;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: font-size 0.2s;
}

.main-content .file-container .fileIcon {
    height: 1rem;
}

.main-content .file-container .fileName:hover {
    background-color: var(--secondary-text);
    font-size: 1.1rem;
}

.main-content .code-container {
    width: 100%;
}